reserved words 
we should not use reserved words as variable name 
python do not restrict the user to use reserved name

multi variable assignmenmt

In [3]:
a,b,c=10,20,30
print(type (a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

user input

In [3]:
name = input("enter ur name :")
print(f"you have entered: {name}")

you have entered: rahul

type casting 
or 
type conversion of the data type of one variable into another

In [9]:
A = int(input("enter the value of A:"))
B = int(input("enter the value of B:"))
print(f"sum of A and B is: {A+B}")
print(type(A),type(B))

sum of A and B is: 24
<class 'int'> <class 'int'>

In [10]:
A = float(input("enter the value of A:"))
B = float(input("enter the value of B:"))
print(f"sum of A and B is: {A+B}")
print(type(A),type(B))

sum of A and B is: 24.4
<class 'float'> <class 'float'>

conversion of string to interger

In [11]:
A = "50"
print(f"data type before: {type(A)}")
A = int(A)
print(f"data type after: {type(A)}")

data type before: <class 'str'>
data type before: <class 'int'>

In [13]:
A = 50.5
print(f"data type before: {type(A)}")
A = int(A)
print(f"data type after: {type(A)}")

data type before: <class 'float'>
data type after: <class 'int'>

In [14]:
A = "50.5"
print(f"data type before: {type(A)}")
A = int(A)
print(f"data type after: {type(A)}")

data type before: <class 'str'>

ValueError: invalid literal for int() with base 10: '50.5'

string to float conversions are not acceptable

In [15]:
A = 50.5
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.5
data type after: <class 'int'>, value of A: 50

integer to float

In [16]:
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

integer to boolean

In [1]:
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'bool'>, value of A: True

In [2]:
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [3]:
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [5]:
A = "-5"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: -5
data type after: <class 'bool'>, value of A: True

for an empty string

In [6]:
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [8]:
firstname,middlename,sirname = "rahul","nagaraj","suregaonkar"
print(f"{firstname}{sirname}@gmail.com")

rahulsuregaonkar@gmail.com

In [2]:
# calculate the age of the user 

name = input("name: ")
place = input("place: ")
year_of_birth = int(input("year_of_birth: "))
age = 2022-year_of_birth
print(f"""
my name is : {name}
i live at : {place}
{name} is of age : {age}
""")

my name is : rahul
i live at : bangalore
rahul is of age : 22

In [4]:
name = input("name: ")
place = input("place: ")
year_of_birth = int(input("year_of_birth: "))
current_year=int(input("current year"))
age = current_year - year_of_birth
print(f"""
my name is : {name}
i live at : {place}
{name} is of age : {age}
""")

my name is : rahul
i live at : brl
rahul is of age : 23

memory locations

In [5]:
a=20 # adress 1 
b=22  # adress 2
c=20 #adress 1 
print(id(a),id(b),id(c))

1864723557264 1864723557328 1864723557264

memory is assigned to the value of the variable passed not the variable name

In [6]:
a="rahul" # adress 1 
b=22  # adress 2
c="rahul" #adress 1 
print(id(a),id(b),id(c))

1864778741680 1864723557328 1864778741680

In [7]:
a=22.3 # adress 1 
b=22  # adress 2
c="rahul" #adress 1 
print(id(a),id(b),id(c))

1864819112368 1864723557328 1864778741680

In [9]:
a=22
print(type(a))
a=complex(a)
print(type(a))

<class 'int'>
<class 'complex'>

In [10]:
a=10
b=20
print(a<b)

True

In [11]:
a=10
b=20
c=a<b
print(c)
print(type(c))

True
<class 'bool'>