list set tuples

In [34]:
A = [1,2,3,4,5,6]
print(A[0:7])
len(A)

[1, 2, 3, 4, 5, 6]

6

In [35]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # this can take any data types 
type(A)
print(A[0:8])

[1, 2, 3, 4, 5.0, (1+2j), True, 'rahul']

what is difference between list in python and array in c and c++ 
ans
array will have only one type of data type 
elements will have only one type of data trype 


python 
list can cotain both same and different data types

In [36]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # this can take any data types 
for element in range(len(A)):
    print(f"where {element},value = {A[element]}, data type = {type(A[element])}")

where 0,value = 1, data type = <class 'int'>
where 1,value = 2, data type = <class 'int'>
where 2,value = 3, data type = <class 'int'>
where 3,value = 4, data type = <class 'int'>
where 4,value = 5.0, data type = <class 'float'>
where 5,value = (1+2j), data type = <class 'complex'>
where 6,value = True, data type = <class 'bool'>
where 7,value = rahul, data type = <class 'str'>

In [37]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # start index [0::5]
print(A[3::2])

[4, (1+2j), 'rahul']

In [38]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # start index [0::5]
for i in range(0,8,2):
    print(i,A[i])

0 1
2 3
4 5.0
6 True

In [39]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # start index [0::5]
print(A[::-1])

['rahul', True, (1+2j), 5.0, 4, 3, 2, 1]

In [40]:
A = "hey"
A.replace("h","r")

'rey'

In [41]:
A = [0.2,99,1000,9190,1010]
A[3::-1]

[9190, 1000, 99, 0.2]

In [42]:
A = [1,2,3,4,5,"sunny",True]
A[::-2]

[True, 5, 3, 1]

In [43]:
A = 0
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [44]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [45]:
A = [1,2,3,4,5,"sunny",True]
for i in range(-1, -len(A), -1):
    print(i,A[i])

-1 True
-2 sunny
-3 5
-4 4
-5 3
-6 2

In [47]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"]
for i in [1,5,6,7]:
    print(i,A[i])

1 2
5 (1+2j)
6 True
7 rahul

Updating the list in the elements

In [48]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"]
A[4] = 999 # mutable operation is allowed 
# mutable is not allowed in strings

In [50]:
A[-2] = "inueron"
print(A)

[1, 2, 3, 4, 999, (1+2j), 'inueron', 'rahul']

In [51]:
B = [78,90.22]
print(A+B) # extension of the list

[1, 2, 3, 4, 999, (1+2j), 'inueron', 'rahul', 78, 90.22]

In [52]:
A*2 # here it just multily

[1,
 2,
 3,
 4,
 999,
 (1+2j),
 'inueron',
 'rahul',
 1,
 2,
 3,
 4,
 999,
 (1+2j),
 'inueron',
 'rahul']

In [55]:
A*(1)

[1, 2, 3, 4, 999, (1+2j), 'inueron', 'rahul']

In [57]:
A*0

[]

basic list properties

In [58]:
len(A)

8

In [59]:
my_list = [] # not recommended 
len(my_list)

0

In [60]:
my_list = list()
len(my_list)

0

In [63]:
list_of_items = list() # empty list that is defined
for i in range(5):
    user_input = int(input("enter the items that u want to purchase:"))
    list_of_items = list_of_items + [user_input]
print(list_of_items)

[10, 10, 10, 10, 10]

In [66]:
my_cart = list()
for i in range(5):
    user_input = input("add ur cart :")
    print(user_input)

num1
num2
num3
num4
num5

In [89]:
list_of_items = list()
N = int(input("no of items u have to purchase "))
i=0
while i < N:
    user_input = input("enter the item")
    list_of_items = list_of_items + [user_input]
    i=i+1
    print(list_of_items)

['hey']
['hey', 'hey']
['hey', 'hey', 'hey']

In [1]:
example = [1,2,3,3,60]
max(example)

60

In [3]:
example = ["hey","rahul","osho"]
max(example)

'rahul'

In [4]:
example = [12 , 13  , 20*2]
max(example)

40

In [8]:
string_example = ["bhaveen","due","Doctor"]
print(max(string_example))
print(min(string_example))

due
Doctor

In [63]:
# print the name with the highest no of charactor
l = []
num = int(input("enter the number of items: "))
for i in range(0,num):
    l = input("enter the string: ")

print(l)

Rohan

In [91]:
A = ["hello", "word"]
for i in range(len(A)):
    print(A[i],len(A[i]))
    max_length = 0
    result = ""
    if len(A[i]) > max_length:
        max_length = len(A[i])
        i = result

hello 5
word 4

In [94]:
A = "*"
i=0
j=0
x= int(input("enter the value"))
y=x/2
while i<y :
    j = 2*(i)+1
    A = "*"*j
    print(A.center(23," "))
    i=i+1

           *
          ***
         *****
        *******
       *********
      ***********

Append method 

we have add something at last in the list 

we call it as append method

In [2]:
A = [1,22,5]
A.append("new_element")
print(A)

[1, 22, 5, 'new_element']

In [3]:
A.append("roma")
print(A)

[1, 22, 5, 'new_element', 'roma']

In [4]:
A.append("sanjay","john")

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
A.append(["sanjay","john"])
print(A)

[1, 22, 5, 'new_element', 'roma', ['sanjay', 'john'], ['sanjay', 'john']]

In [8]:
A=A+["sanjay","john"]
print(A)

[1, 22, 5, 'new_element', 'roma', ['sanjay', 'john'], ['sanjay', 'john'], 'sanjay', 'john', 'sanjay', 'john']

pop()

use "pop off" an item from the list .
by default pop takes off the last index, but you can also specify which index to pop off . lets's see an example

In [9]:
A = [5,6,3,2,"sunny"]
A.pop()
print(A)

[5, 6, 3, 2]

In [10]:
A = [5,6,3,2,"sunny"]
A.pop(0)
print(A)

[6, 3, 2, 'sunny']

In [11]:
A = [5,6,3,2,"sunny"]
A.pop(2)
print(A)

[5, 6, 2, 'sunny']

In [13]:
A = [5,6,3,2,"sunny"]
A.pop(1)
print(A)

[5, 3, 2, 'sunny']

In [15]:
removed_item = A.pop()
print(removed_item)

sunny

In [17]:
A = [1,34,56,76,99] # remove odd elements 
for index in range(len(A)):
    num = A[index]
    print(index,num)
    if num%2 != 0: # odd conditions
        print(f"odd num:{num}")
    else:
        print(f"even num: {num}")

0 1
odd num:1
1 34
even num: 34
2 56
even num: 56
3 76
even num: 76
4 99
odd num:99

sort method ()

In [18]:
A = [1,45,67,98,-34]
sorted(A)

[-34, 1, 45, 67, 98]

In [20]:
A = sorted(A)
print(A)

[-34, 1, 45, 67, 98]

descending order

In [21]:
A[::-1]

[98, 67, 45, 1, -34]

In [23]:
A = [1,45,67,98,-34]
A.sort()
print(A) # here its a permanent change in A
print(A[::-1])

[-34, 1, 45, 67, 98]
[98, 67, 45, 1, -34]

In [25]:
A = [1,45,67,98,-34]
A.sort(reverse=True) # it gives in decending order 
print(A)

[98, 67, 45, 1, -34]

In [27]:
A = [1,45,67,98,-34] # permanent value changes 
A.reverse()
print(A)

[-34, 98, 67, 45, 1]

In [29]:
A = [1,23,45, "sunny","inueron"]
A = A[::-1]
print(A)
A.reverse()
print(A)

['inueron', 'sunny', 45, 23, 1]
[1, 23, 45, 'sunny', 'inueron']

Nesting of the list

In [32]:
a = [1,2,3,4,5,6]
a[-1:-5:-1]

[6, 5, 4, 3]

In [40]:
A=[1,2,3,4,5]
for i in A:
    print(i*-2)

-2
-4
-6
-8
-10

In [42]:
numbers = [12,15,16,17]
largest = 0 
for i in numbers:
    if largest < i:
        largest = i
print(f"largest number in the given list is :{largest}")

largest number in the given list is :17

nesting list 
list inside a list

In [57]:
A = [[1,2,3],[11,22,33,[500,400]],[45,56,77]]
print(A[1][3][0])
print(A[1])

500
[11, 22, 33, [500, 400]]

In [64]:
A = [[1,2,3],[11,22,33,[500,400]],[45,56,[239,"hii"],77]]
print(A[2][2][1])

hii

In [7]:
A = [[1,2,3],[11,22,33,[500,400]],[45,56,[239,"hii"],77]]
print (A[2][2][1])

hii

In [8]:
A[-1][2][-1]

'hii'

In [3]:
A = [["watch",5000],["phone",10000],["laptop",50000]]
print(A[0][1]+A[1][1]+A[2][1])
total_cost = 0
for i in range(len(A)):
    print(A[i][1])
    total_cost = total_cost + A[i][1]
print(total_cost)

65000
5000
10000
50000
65000

In [17]:
A = [["watch",5000],["phone",10000],["laptop",50000]]
total_cost = 0
print(f"empty cart : {total_cost}")
for i in A:
    print(i[1])
    total_cost = total_cost + i[1]
    print(f"cart after adding total cost :{i[0]}")
print(f"total amount payable {total_cost}")

empty cart : 0
5000
cart after adding total cost :watch
10000
cart after adding total cost :phone
50000
cart after adding total cost :laptop
total amount payable 65000

list comprehension

In [55]:
# list which conatains list of squares of numbers between 1 to 10
A = [1,2,3,4,5,6,7,8,9,10]
j = list()
for i in (A):
    print(i**2)
    j.append(i**2)
print(j)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

list comprehension

In [56]:
A = [1,2,3,4,5,6,7,8,9,10]
j = [i**2 for i in A]
print(j)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
# only take the squares of odd numbers in the list A
A = [1,2,3,4,5,6,7,8,9,10]
j = list()
for i in A:
    k = (2*i)-1
    x = k**2
    print(k)
    j.append(x)
print(j)

1
3
5
7
9
11
13
15
17
19
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [68]:
A = [1,2,3,4,5,6,7,8,9,10]
j = list()
for i in A:
    if i%2 != 0:
        print(i**2)
        j.append(i**2)
print(j)

1
9
25
49
81
[1, 9, 25, 49, 81]

In [69]:
A = [1,2,3,4,5,6,7,8,9,10]
j = [i**2 for i in A if i%2 != 0]
print(j)

[1, 9, 25, 49, 81]

COunt method

In [70]:
A = [1,2,1,4,5,6,7,7,7]
A.count(1)

2

In [71]:
A.count(7)

3

In [72]:
for i in A:
    print(A.count(i))

2
1
2
1
1
1
3
3
3

In [73]:
A = [1,2,1,4,5,6,[7,7],[7,7]]
A.count([7,7])

2

In [74]:
A[-1].count(7)

2

In [75]:
A = "sunny"
for i in A:
    print(i,A.count(i))

s 1
u 1
n 2
n 2
y 1

In [77]:
A = ["rahul","Rahul","sunnny"]
for i in A:
    print(i,A.count(i))

rahul 1
Rahul 1
sunnny 1

Extend method

In [78]:
A = [1,2,3]
B = [11,22,33]
A+B

[1, 2, 3, 11, 22, 33]

In [79]:
A = [1,2,3]
B = [11,22,33]
A.extend(B)
print(A)

[1, 2, 3, 11, 22, 33]

In [80]:
A = [1,2,3]
B = [11,22,33]
A.append(B)
print(A)

[1, 2, 3, [11, 22, 33]]

In [6]:
A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
    if type(ele) == complex:
        print(ele,type(ele),A.index(ele))

(56+2j) <class 'complex'> 3
(1+2j) <class 'complex'> 5

In [7]:
A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
    if type(ele) == str:
        print(ele,type(ele),A.index(ele))

sunny <class 'str'> 4

is instance method
returns true if the specified object is of the specified type ,
otherwise False .
if the type parameter is a tuple , this functions will return true if the object is one of the type in the tuple

In [8]:
A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
    if isinstance(ele,str) :
        print(ele,type(ele),A.index(ele))

sunny <class 'str'> 4

In [9]:
A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
    if isinstance(ele,complex) :
        print(ele,type(ele),A.index(ele))

(56+2j) <class 'complex'> 3
(1+2j) <class 'complex'> 5

In [10]:
# print the index of the complex and integer also

A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
    if isinstance(ele,complex) or isinstance(ele,int):
        print(ele,type(ele),A.index(ele))

11 <class 'int'> 0
3 <class 'int'> 1
4 <class 'int'> 2
(56+2j) <class 'complex'> 3
(1+2j) <class 'complex'> 5

In [11]:
A = [ele for ele in A if isinstance(ele,complex)]
A

[(56+2j), (1+2j)]

insert

In [12]:
A = [1,2,3,4,5]
A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [15]:
A.insert(200,"sunny")
A

[1, 2, 'sunny', 3, 4, 5, 99, 'sunny', 'sunny']

In [17]:
A.insert(-200,"rahul")
A

['rahul', 'rahul', 1, 2, 'sunny', 3, 4, 5, 99, 'sunny', 'sunny']

In [19]:
A.insert(2,"rahul")
A.insert(3,"sunny")
A

['rahul',
 'rahul',
 'rahul',
 'sunny',
 1,
 2,
 'sunny',
 3,
 4,
 5,
 99,
 'sunny',
 'sunny']

In [21]:
A = [11,3,4,56+2j,"sunny",1+2j]
A.insert(2,[2,3,3])
A

[11, 3, [2, 3, 3], 4, (56+2j), 'sunny', (1+2j)]

In [23]:
A = [11,3,4,56+2j,"sunny",1+2j]
A.pop(2)
A

[11, 3, (56+2j), 'sunny', (1+2j)]

tuples 

A tuple is an immutable object , which means it cannot be changed , and we use it to represent fixed collections of items .
()  -- is an empty tuple 
(1.0, 9.9,10 ) a tuple containing 3 elements which are immutable

sets 

An ordered collection of the unique elements represented as {}

In [1]:
X = {1,2,33,6,7}
type(X)

set

In [3]:
X = {1,2,33,6,7,7,7,7}
print(X)
# it will not contain the duplicate
#

{1, 2, 33, 6, 7}

In [4]:
x = set()
type(x)

set

In [5]:
X = {} # this is actually not recomended 
type(X)

dict

In [6]:
x = tuple()
type(x)

tuple

sets operations 

here sets are mutable in nature

In [8]:
X  = {1,2,33,6,7,7,7,7}
X[0]  # this is not allowed

TypeError: 'set' object is not subscriptable

In [9]:
X = {1,2,33,6,"rahul"}
X

{1, 2, 33, 6, 'rahul'}

In [11]:
X.add("99")
X

{1, 2, 33, 6, '99', 'rahul'}

In [12]:
X.append("rahul")
X  # append do not work here

AttributeError: 'set' object has no attribute 'append'

In [13]:
A ={1,2,3}
B = {2,3,4}
A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

use case of sets

In [17]:
A = [1,2,3,5,5,6,6,7,7,7] # print the unique values 
A = set(A)
print(A)
A = list(A)
A

{1, 2, 3, 5, 6, 7}

[1, 2, 3, 5, 6, 7]

In [18]:
X.add(2+1j)
X

{(2+1j), 1, 2, 33, 6, '99', 'rahul'}

In [19]:
X.add(-100)
X

{(2+1j), -100, 1, 2, 33, 6, '99', 'rahul'}

In [20]:
X.remove(-100)
X

{(2+1j), 1, 2, 33, 6, '99', 'rahul'}