In [ ]:
# arithmatic operators

operations | meaning

+| addition

-| subs

*| mult

/| division

// | integer division

% | modulo operator 

** | exponential

In [1]:
A = 5
B = 2
print(A//B)

2

In [2]:
A = 5
B = 2
print(A%B)

1

In [3]:
A = 4
B = 2
print(A%B)

0

In [4]:
A = 55 
B = 2
if A % B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 55 is not divisible by B: 2

accesing all elements in the string

string slicing

In [10]:
name = "rahul"
print(name[0]) # index value start from 0 
print(name[1])
print(name[2])
print(name[3])
print(name[-1])
print(name[-0])

r
a
h
u
l
r

In [21]:
name = "rahul"
print(name[0:5])
print(name[1:3])
print(name[-5:])

rahul
ah
rahul

In [23]:
date = "08/10/2022"
print(date[0:2])
print(date[3:5])
print(date[6:])

08
10
2022

In [25]:
data = input("enter ur date of birth in this format : dd/mmm/yyyy ")
date = data[0:2]
month = data[3:6]
year = data[7:]
print(f"the user was born on this date:{date}, on this month: {month}, on this year: {year} ")

the user was born on this date:10, on this month: mar, on this year: 2000

In [26]:
name = "sunny"
name[0:5:2]

'sny'

In [27]:
name = "sunny"
name[0:5:3]

'sn'

In [31]:
name = "sunny Bhaveen Chandra "
name[0::3]

'snBvnhd '

In [33]:
name = "sunny Bhaveen Chandra "
name[0::]

'sunny Bhaveen Chandra '

In [35]:
name = "sunny Bhaveen Chandra "
name[::-1]

' ardnahC neevahB ynnus'

In [36]:
name = "sunny Bhaveen Chandra "
name[::-2]

' rnh evh nu'

In [37]:
# palindrome sequence
# madam # read from left or right it will be same
# malyalam
# nayan
# bob 
# radar 
data = input("input something ")
reverse = data[::-1]
print(data,reverse)

radar radar

In [8]:
data = input("input something ")
reverse = data[::-1]
if data == reverse:
    print(f"{data},{reverse} its a palindrome")
else:
    print(f"{data},{reverse} its not a palindrome ")

TypeError: index() takes at least 1 argument (0 given)

mutablity

In [48]:
name = "sunny"
# replace S with F?
name[0] = "F" #immutablity

TypeError: 'str' object does not support item assignment

In [49]:
name[1:]

'unny'

In [50]:
name = "f" + name[1:]
print(name)

funny

string methods

In [52]:
name = name.replace("y","yyy")
print(name)

funnyyy

In [54]:
name = "sunny bhaveen chandra"
print(name.replace(" ","_"))

sunny_bhaveen_chandra

length of the string

In [55]:
print(len(name))

21

we have covered 
1. string indexing
2. string slicing
3. string skipping
4. string reversal
5. string replace methods 
6. length of the string 
& 
7. string is immutable coz we cannot assign any other charachter using indexing

In [56]:
# count a specific charachter in a string 
name = "sunny"
print(name.count("n"))

2

split the string

In [59]:
name = "sunny bhaveen chandra"
print(name.split(" "))
first_name,middle_name,last_name = name.split(" ")
print(f'''
first name :{first_name}
middle name : {middle_name}
last name : {last_name}''')

['sunny', 'bhaveen', 'chandra']

first name :sunny
middle name : bhaveen
last name : chandra

In [60]:
data = input("enter ur date of birth in this format : dd/mmm/yyyy ")
date,month,year = data.split("/")
print(f"the user was born on this date:{date}, on this month: {month}, on this year: {year} ")

the user was born on this date:10, on this month: mar, on this year: 2000

In [62]:
name = "rahul_suregaonkar"
print(name.split("_"))
print(name.split("n"))

['rahul', 'suregaonkar']
['rahul_suregao', 'kar']

In [63]:
date = input("enter the date in dd/mm/yyyy")
date.split("/")

['17th', 'march', '2000']

lower and upper case etc

In [66]:
name = "rahul_suregaonkar"
name.upper()

'RAHUL_SUREGAONKAR'

In [67]:
name = "rahul_suregaonkar"
name.lower()

'rahul_suregaonkar'

In [70]:
name = input("enter ur name: ")
print(f"user input: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title : {name.title()}")
print(f"name in capitals: {name.capitalize()}")
print(f"name is swapped : {name.swapcase()}")

user input: Rahul Suregaonkar
name in upper case: RAHUL SUREGAONKAR
name in lower case: rahul suregaonkar
name in title : Rahul Suregaonkar
name in capitals: Rahul suregaonkar
name is swapped : rAHUL sUREGAONKAR

In [12]:
name = "rahul_suregaonkar"
name.index("_")

5

In [72]:
name = "rahul_suregaonkar"
"_".join(name)

'r_a_h_u_l___s_u_r_e_g_a_o_n_k_a_r'

In [73]:
name = "rahul_suregaonkar"
"|".join(name)

'r|a|h|u|l|_|s|u|r|e|g|a|o|n|k|a|r'

remove extra spaces  front and back of the string

In [1]:
name = " rahul "
print(name.strip())

ra hul

In [77]:
name = " rahul "
(name.lstrip())

'rahul '

In [5]:
name = " rahul "
(name.rstrip( ))

' ra hul'

In [79]:
name = " rahul "
name.replace(" ","")

'rahul'

formatting

In [81]:
name = "sunny"
name.center(20,"_")

'_______sunny________'

cheching string cases

In [83]:
name = "sangeetha"
name.center(10,"*")

'sangeetha*'

In [84]:
name = "RAHUL"
name.isupper()

True

In [85]:
name = "rahul"
name.isupper()

False

In [86]:
name = "Sunny"
name.islower()

False

In [87]:
name = "    "
name.isspace()

True

In [6]:
name = input("enter ur name :")
print(f"user input: {name}")
if name.istitle():
    print(f"user has given the correct input {name} ")
elif name.isspace():
    print(f"Wrong input please try again later:{name}")
else:
    print(f"wrong input we have to auto correct it :{name}")
    name = name.title()
    print(f"correct output: {name}")

user input:
Wrong input please try again later:

In [8]:
phone_number = "9902829763"
phone_number.isdigit()

True

In [13]:
phone_number = input("enter ur phone number:")
if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
    print(f"user have given the correct input :{phone_number}")
else:
    print(f"user have not given the correct input :{phone_number}")

user have not given the correct input :0000000000

In [14]:
phone_number.startswith("0")

True

In [15]:
phone_number.endswith("0")

True

In [19]:
phone_number = input("enter ur phone number:")
if len(phone_number) == 13 and phone_number != "0000000000" and phone_number.startswith("+91") and phone_number[1:].isdigit():
    print(f"user have given the correct input :{phone_number}")
else:
    print(f"user have not given the correct input :{phone_number},include +91 or dont give zeros")

user have not given the correct input :7676934868,include +91 or dont give zeros

In [20]:
PAN_NUMBER = "AYEPC5656X"
PAN_NUMBER.isalnum()

True

In [21]:
PAN_NUMBER = "AYEPC 5656X"
PAN_NUMBER.isalnum()

False

In [23]:
A = int(5.0)
B = int(10/2)
A is B

True

In [43]:
name = "rahul "
print(name.isdigit())
print(name.isspace())
print(name.strip(""))
print(name.split("."))
print(name.capitalize())
print(name.isdigit())
print(name.isalpha())
print(name.count(""))
print(name.endswith("r"))
print(name.format())
print(name.endswith("e"))
name[0::-1] # slicing index
name[0:5:2] # skipping method

False
False
rahul
['rahul ']
Rahul
False
False
7
False
rahul
False

'rhl'

In [1]:
lst = "rahu suregaonkar"
print(lst.split())

['rahu', 'suregaonkar']

In [6]:
name = "  ===rahul"
name.lstrip(" =r")

'ahul'

In [8]:
name = "rahul"
"+".join(name)

'r+a+h+u+l'

In [9]:
name = "rashmi "
"_".join(name)

'r_a_s_h_m_i_ '

In [33]:
name = "A a a y a s h"
name[0:4].replace("a","n") + name[4:]

'A n a y a s h'