In [5]:
def test1(func):
    def test2():
        print("i am inside test2")
        func()
        print(func())
        print("function executed")
        return func()
    return test2

In [6]:
@test1
def test3():
    return 5+6

In [7]:
test3()

i am inside test2
11
function executed

11

In [8]:
test1(test3())

i am inside test2
11
function executed

In [9]:
@test1
def test4():
    return 6+5

In [10]:
type(test4())

i am inside test2
11
function executed

int

In [11]:
a = test4()

i am inside test2
11
function executed

In [12]:
print(a)

11

In [13]:
def test5():
    return 4+5

In [14]:
type(test5())

int

In [15]:
test5()+ 45

54

In [16]:
def test1(func):
    def test2():
        print("i am inside test2")
        func()
        print(func())
        print("function executed")
        return func()
    return test2

In [17]:
@test1
def test4():
    return 6+5

In [18]:
type(test4())

i am inside test2
11
function executed

int

In [19]:
test4()+45

i am inside test2
11
function executed

56

In [20]:
def test1(func):
    def test2(*args,**kwargs):
        func(*args,**kwargs)
        print("hey this is inside test2")
        print(func(*args,**kwargs))
        return func(*args,**kwargs)
    return test2

In [21]:
@test1
def test4(a,b,c):
    return a+b+c

In [22]:
test4("hey","rahul","suregaonkar")

hey this is inside test2
heyrahulsuregaonkar

'heyrahulsuregaonkar'

In [23]:
def test5(**args):
    return args

In [24]:
test5(a=2,b=4,c="rahul")

{'a': 2, 'b': 4, 'c': 'rahul'}

In [25]:
c = lambda a,b : a+b

In [26]:
c(10,11)

21

In [27]:
c("hey","rahul")

'heyrahul'

In [28]:
def test11(*args):
    l = args
    l1=[]
    j= 10
    for i in l:
        i = i + j
        l1.append(i)
        print(l1)

In [29]:
test11(1,3,4,4,4,44,4)

[11]
[11, 13]
[11, 13, 14]
[11, 13, 14, 14]
[11, 13, 14, 14, 14]
[11, 13, 14, 14, 14, 54]
[11, 13, 14, 14, 14, 54, 14]

In [30]:
l2 = [1,2,3,4,5,6]

In [31]:
def test13(a):
    return a+10

In [32]:
test13(7)

17

In [33]:
list(map(test13,l2))

[11, 12, 13, 14, 15, 16]

In [34]:
list(map(lambda a:a+10,l2))

[11, 12, 13, 14, 15, 16]

In [35]:
d = lambda a : a+10

In [36]:
list(map(d,l2))

[11, 12, 13, 14, 15, 16]

In [37]:
def test6(*args):
    l5=[]
    for i in args:
        l5.append(i.upper())
        print(l5)

In [38]:
test6("hey","rahul")

['HEY']
['HEY', 'RAHUL']

In [39]:
l4 = ["hey","rahul"]

In [40]:
def test7(*args):
    l6=[]
    for i in args:
        l6.append(len(i))
    return l6

In [41]:
args = 'hey',"rahul"

In [42]:
list(map(test7,args))

[[3], [5]]

In [43]:
list(map(lambda a : a.upper(),l4))

['HEY', 'RAHUL']

In [44]:
list(map(len,l4))

[3, 5]

In [45]:
l = [1,2,3,4,5,6,7,8]
l1 = []
j =0 
for i in l:
    if i % 2 != 0:
        l1.append(i)
        print(l1)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]

In [46]:
l1

[1, 3, 5, 7]

In [47]:
[i for i in l if i%2 == 0]

[2, 4, 6, 8]

here we are trying to map a  function according to its co-domain

the problem statement is to map a function , which will give us only list of even numbers

In [48]:
a = lambda a:a if a%2 == 0 else None

In [49]:
list(map(a,l))

[None, 2, None, 4, None, 6, None, 8]

filter is the

In [50]:
list(filter(a,l))

[2, 4, 6, 8]

In [53]:
def test25(a):
    if a%2 == 0:
        return True
    else:
        return False

In [54]:
test25(32)

True

In [55]:
test25(35)

False

In [56]:
list(filter(test25,l))

[2, 4, 6, 8]

In [57]:
sum(l)

36

In [85]:
l=[1,2,3,4,5,6,7,8,9]
j = 1 
for i in l:
    j = j*i
print(j)

362880

In [86]:
from functools import reduce

In [87]:
reduce(lambda a,b:a*b,l)

362880

In [88]:
reduce(lambda a,b,c:a*b*c,l)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [89]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
l1 = [3]
reduce(lambda a,b:a*b,l1)

3

In [100]:
def test26(a:int,b,c = 345) -> int:
    '''this is a doc string'''
    return a+b+str(c)

In [99]:
test26("sudh","kumar",234)

'sudhkumar234'